{% extends 'modelo.html' %}

{% block botao %}

{% if login == False %}
<button type="button" onclick="window.location.href='/login'" class="btn btn-light me-4">Login</button>
{% else %}
<button type="button" onclick="window.location.href='/logoff'" class="btn btn-light me-4">Logoff</button>
{% endif %}

{% endblock %}


{% block conteudo %}
<!-- Carrossel automático -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="../../static/img/slides/slide01.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="../../static/img/slides/slide02.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="../../static/img/slides/slide03.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<!-- Fim do carrossel -->
<!-- Cards -->

<div class="container-fluid my-5">
    <h1 class="text-center">Promoções da Semana</h1>
</div>

<div class="container">
    <div class="row g-5">
        <div class="col-12 col-xl-3 col-md-6">
            <div class="card text-bg-light border-primary">
                <img src="../../static/img/produtos/000001.jpg" class="card-img-top b-2">
                <div class="card-body">
                    <p class="card-title text-center fw-bolder fs-4">Banana nana</p>
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk
                        of the card's content.</p>
                    <p class="text-center fw-bolder fs-4">R$ 4,99</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}