{% extends 'modelo.html' %}

{% block conteudo %}

<h1 style="margin: 3% 2%;" class="text-center">História da Quitanda do Zé</h1>
      <h5 class="text-center">A Quitanda do Zé tem suas raízes na simplicidade e no empreendedorismo de José Carlos
        Pereiras, um homem do interior paulista que decidiu compartilhar os sabores da terra com sua comunidade. A
        história da Quitanda do Zé é um exemplo de perseverança e crescimento gradual.</h5>
      <div class="container">
          <div id="carouselExampleCaptions" class="carousel slide w-100 p-5">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../static/img/imagem_1.jpeg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-75">
                  <h5>Início</h5>
                  <p>Tudo começou quando Zé, como é carinhosamente chamado, saiu pelas ruas com seu carrinho de mão
                    carregado de frutas e verduras frescas. De porta em porta, ele oferecia seus produtos, conquistando a
                    confiança de seus primeiros clientes. </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../static/img/imagem_2.jpeg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-75">
                  <h5>Desenvolvimento</h5>
                  <p>Com o tempo, a demanda por suas mercadorias cresceu, e Zé tomou uma decisão audaciosa. Ele montou uma
                    modesta barraca na feira municipal, onde a Quitanda do Zé logo se tornou uma parada obrigatória para
                    os moradores em busca de alimentos frescos e saborosos. A qualidade dos produtos e o atendimento
                    caloroso fizeram com que a Quitanda do Zé se destacasse. À medida que o tempo passava, Zé e sua equipe
                    mantiveram-se fiéis a seus valores de oferecer produtos de alta qualidade e um atendimento acolhedor.
                    Isso atraiu cada vez mais clientes leais.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../static/img/imagem_3.jpeg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-75">
                  <h5>Princípios</h5>
                  <p>A história da Quitanda do Zé é um lembrete de que, com trabalho árduo, amor pelo que se faz e valores
                    sólidos, é possível transformar um carrinho de mão em uma instituição local, proporcionando qualidade
                    de vida e sabor para todos. </p>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-black text-white" type="button"
                          data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                          aria-controls="collapseOne">
                          <i class="bi bi-flag me-2"></i>
                          Missão
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>A missão da Quitanda do Zé é simples e clara: fornecer alimentos frescos, saudáveis e
                            saborosos a preços acessíveis. Eles se comprometem a atender as necessidades de seus clientes
                            com produtos de qualidade superior e a criar um ambiente acolhedor que celebre a comunidade
                            local.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-black text-white" type="button"
                          data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                          <i class="bi bi-eye me-2"></i>
                          Visão
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>A visão de Zé é continuar a crescer e a servir a comunidade. Ele sonha em expandir a
                            Quitanda do Zé para outras regiões, compartilhando os sabores únicos de seu local de origem.
                            Ele acredita que a paixão pela qualidade e o compromisso com o cliente são os pilares para um
                            futuro brilhante.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-black text-white" type="button"
                          data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree">
                          <i class="bi bi-patch-check me-2"></i>
                          Valores
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>A Quitanda do Zé se baseia em valores sólidos: <br>
                            Qualidade: Eles se esforçam para fornecer produtos da mais alta qualidade, cultivados
                            localmente sempre que possível. <br>
                            Honestidade: A transparência e a integridade estão no centro de tudo o que fazem. <br>
                            Comunidade: Eles são parte da comunidade e se dedicam a apoiá-la. <br>
                            Atendimento ao Cliente: Cada cliente é um amigo, e eles tratam todos com carinho e respeito.
                            <br>
                            Sustentabilidade: Comprometem-se a adotar práticas sustentáveis em suas operações. <br>
                            Hoje, a Quitanda do Zé é uma parte essencial da vida da comunidade local. Zé e sua equipe
                            continuam a trabalhar com paixão e dedicação, trazendo a essência do campo para a cidade.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

{% endblock %}